.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
logs/*.log*
logs/*.png
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
.idea/
.vscode/
